.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  grid-gap: 5px;
  div {
    border: 1px solid black;
  }
  grid-template-areas:
    "main main ."
    "main main ."
    ". . . ";

  img {
    width: 100%;
  }
}

.grid-main {
  // grid-column: 1 / 5;
  grid-area: main;
}

@media screen and (max-width: 756px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
