* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 10px 50px 10px 50px;
  box-shadow: 2px 2px 2px 2px rgb(215, 215, 215);
}

.header-search {
  position: relative;
  width: 300px;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
  }
  button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
  }
}
.header-search:focus-within {
  width: 500px;
}

.header-alerts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header-alert {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  img {
    width: 25px;
    height: 25px;
  }
  .alert {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    top: 0px;
    right: 0px;
  }
}

.header-name {
  color: gray;
}

.header-menu-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.header-menu {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  img {
    width: 30px;
  }
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header-menu-container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-search {
    display: none;
  }
  .header-alerts {
    display: none;
  }
}
