* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
}
body {
  background-color: rgb(242, 241, 241);
}

ul {
  list-style: none;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 10px 50px 10px 50px;
  box-shadow: 2px 2px 2px 2px rgb(215, 215, 215);
  background-color: white;
}

.header-search {
  position: relative;
  width: 300px;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s;
  input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
  }
  button {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
  }
}
.header-search:focus-within {
  width: 500px;
}

.header-alerts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.header-alert {
  position: relative;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  img {
    width: 25px;
    height: 25px;
  }
  .alert {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    top: 0px;
    right: 0px;
  }
}

.header-name {
  color: gray;
}

.header-menu-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.header-menu {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  img {
    width: 30px;
  }
  cursor: pointer;
}

aside {
  width: 140px;
  height: 100vh;
  background-color: #494bb4;
  position: fixed;
  top: 0;

  transition: all 0.5s;
  transform: translateX(-100px);
  &:hover {
    transform: translateX(0px);
    transition: all 0.5s;
    .side-icons {
      transform: translateX(0px);
      transition: all 0.5s;
    }
    .side-text {
      animation-duration: 0.5s;
      animation-name: slide;
    }
  }
}

.side {
  display: flex;
}

.side-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100px);
  img {
    color: white;
    margin: 35px 10px 0 10px;
    width: 20px;
  }
}

.side-text {
  p {
    margin-top: 36px;
    color: white;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

section {
  margin: 80px 10px 0px 50px;
  h2 {
    margin-bottom: 20px;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
}

@mixin card($left-color) {
  flex: 1;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(215, 215, 215);
  display: flex;
  justify-content: space-between;
  border-left: 5px solid $left-color;
  margin-bottom: 20px;
  background-color: white;
}

.card-mint {
  @include card(#87ceeb);
  margin-right: 10px;
}

.card-green {
  @include card(#41c95c);
  margin-right: 10px;
}
.card-blue {
  @include card(blue);
  margin-right: 10px;
}
.card-yellow {
  @include card(#ffcb55);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  :nth-child(2) {
    font-size: 20px;
    font-weight: 600;
  }
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart {
  box-shadow: 2px 2px 2px 2px rgb(215, 215, 215);
  width: 60%;
  border-radius: 5px;
  h4 {
    padding: 10px;
    background-color: rgb(230, 230, 230);
  }
}

.tasks {
  box-shadow: 2px 2px 2px 2px rgb(215, 215, 215);
  width: 35%;
  height: 100%;
  border-radius: 5px;
  h4 {
    padding: 10px;
    background-color: rgb(230, 230, 230);
  }
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid rgb(233, 233, 233);
}

.task-num {
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 10px;
  background: blue;
  color: white;
  padding: 0 10px;
}

@media screen and (min-width: 768px) {
  .header-menu-container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-search {
    display: none;
  }
  .header-alerts {
    display: none;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    margin-bottom: 20px;
  }
  .card-yellow {
    margin-right: 10px;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .chart {
    width: 100%;
    margin-bottom: 20px;
  }

  .tasks {
    width: 100%;
  }
}
