* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 400px;
}

.box {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  border: 1px solid black;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .container {
    flex-wrap: wrap;
  }
  .box {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .box {
    width: 100%;
  }
}
