// %alert-box {
//   border-radius: 5px;
//   border: 0px;
//   margin-bottom: 20px;
// }

@mixin alert-box($color) {
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
  background: $color;
}

li {
  width: 300px;
  height: 40px;
  margin-top: -1px;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.active {
  background-color: blue;
  color: white;
}

.green-alert {
  @include alert-box(#def0d8);
}

.blue-alert {
  @include alert-box(#d9edf7);
}

.yellow-alert {
  @include alert-box(#fcf8e3);
}
